<!DOCTYPE html>
<html lang="en">
<head>
    <meta name="author" content="github.com/annerodrigues7">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Aba</title>
</head>
<body>
    <marquee bgColor="red"
    <marquee behavior="" direction="up">Lorem ipsum dolor, 
        sit amet consectetur adipisicing elit. Odio, consectetur?</marquee>
        <marquee behavior="" direction="down">Lorem, ipsum dolor sit amet 
            consectetur adipisicing elit. Eos, non!</marquee>
            <marquee behavior="" direction="left">Lorem ipsum, dolor sit amet 
                consectetur adipisicing elit. Quasi, consequatur!</marquee>
                <marquee behavior="" direction="right">Lorem ipsum dolor sit amet, 
                    consectetur adipisicing elit. At, quod!</marquee>
</body>
</html>