<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>não ordenada</title>
</head>
<body>
    <h1>Listas não Ordenadas</h1>
    <h1>Lista de frutas</h1>
    <ul style="list-style-type: square;">
        <li>Maçã</li>
        <li>Banana</li>
        <li>Laranja</li>
    </ul>
    <h2>Lista de Bairros</h2>
    <ul>
        <li>Jardins</li>
        <li>Jardim Europa</li>
        <li>Itaim Bibi</li>
    </ul>

    <h2>Lista de Filmes</h2>
    <ul>
        <li>Gênio Indomável</li>
        <li>Sociedade dos poetas mortos</li>
        <li>Peter Pan</li>
        <li>Como Eu Era Antes Você</li>
        <li>A Cinco Passos De Você</li>
        <li>As Vantagens de Ser Invisível</li>
        <li>Adoráveis Mulheres</li>
        <li>Diário de uma Paixão</li>
        <li>Simplesmente Acontece</li>
        <li>Um Porto Seguro</li>
    </ul>

    <h2>Lista de Series</h2>
    <ul>
        <li>Teen Wolf</li>
        <li>Outer Banks</li>
        <li>Anne With an E</li>
        <li>The Vampire Diaries</li>
        <li>Supernatural</li>
        <li>Gossip Girl</li>
        <li>Gilmore Girl</li>
        <li>One Tree Hill</li>
        <li>Stranger Things</li>
        <li>American Horror Story</li>
        <li>Peaky Blinders</li>
    </ul>

    <h2>Lista de Cursos</h2>
    <ul>
      <li>Publicidade e Propaganda</li>  
      <li>Marketing</li>
      <li>Medicina</li>
      <li>Direito</li>
      <li>Nutrição</li>
      <li>Educação Física</li>
      <li>Arquitetura</li>
      <li>Teatro</li>
      <li>Música</li>
      <li>Moda</li>
    </ul>

</body>
</html>