<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Listas Ordenadas</title>
</head>
<body>
    <h1>Listas Ordenadas</h1>

    <h2>Itens</h2>
    <ol type="1">
        <li>Primeiro Item</li>
        <li>Segundo Item</li>
        <li>Terceiro Item</li>
    </ol>


    <h2>Selecione sua bebida</h2>
    <ol type="A">
        <li>Café</li>
        <li>Chá</li>
        <li>Leite</li>
    </ol>

    <h2>Rotina de Estudos</h2>
    <ol type="a">
        <li>Acordar</li>
        <li>Escovar os dentes</li>
        <li>Lavar o rosto</li>
        <li>Colocar a roupa</li>
        <li>Fazer a maquiagem</li>
        <li>Arrumar a cama</li>
        <li>Arrumar a bolsa</li>
        <li>Tomar café</li>
        <li>Pegar as coisas</li>
        <li>Ir para o carro e sair de casa</li>
    </ol>

    <h2>Criar uma lista de passos para criar um HTML</H2>
    <ol type="I">
        <li>Abrir o VScode</li>
        <li>Criar uma pasta para o projeto</li>
        <li>Criar um novo arquivo</li>
        <li>Salvar com extensão</li>
        <li>Adicionar a estrutura básica do HTML(!)</li>
        <li>Definir o título da página</li>
        <li>Adicionar conteúdo ao(<body>)</li>
        <li>Salvar o arquivo</li>
        <li>Abrir no navegador</li>
        <li>Testar e editar</li>
    </ol>
    
    <h2>Criar uma lista de um checklist para entregar uma atividade</h2>
    <ol type="i">
      <li>Anotar o tema e o objetivo da atividade</li>
      <li>Esclarecer dúvidas antes de começar</li>
      <li>Pesquisar informações confiáveis</li>
      <li>Criar um rascunho inicial</li>
      <li>Desenvolver a versão final com atenção</li>
      <li>Derificar se respondeu exatamente ao que foi pedido</li>
      <li>Revisar gramática, formatação e apresentação</li>
      <li>Conferir se anexou todos os arquivos solicitados</li>
      <li>Confirmar o local correto de envio</li>
      <li>Garantir que a entrega foi enviada e confirmada</li>
    </ol>

</body>
</html>